@media  screen and (max-width: 1200px) {
    //PROMO START
    .promo__heading {
        font-size: 60px;
    }

    .promo__heading .bottom {
        font-size: 35px;
    }

    .promo-form__title {
        font-size: 35px;
    }

    .header-nav__listlink {
        font-size: 16px;
    }

    .greenstandart {
        font-size: 16px;
        width: 300px;
    }

     //PROMO END


     //ABOUT START 
     .about__title {
         font-size: 35px;
     }

     .about-descr__earth img {
         height: 105px;
     }
     .about-descr {
         column-gap: 30px;
     }
     .badge {
         width: 8rem;
         height: 8rem;
     }

     .badge .text {
         width: 4rem;
         height: 4rem;
         line-height: 4rem;
         margin-left: -3.5rem;
        font-size: 0;
     }
     //ABOUT END

     //ADVANTAGES START
     .advantages__title {
         font-size: 35px;
         top: 25%;
     }
     .advantages-wrapper__title {
         font-size: 14px;
     }
     //ADVANTAGES END

     //EDGE START 
     .edge__wrapper {
         align-content: center;
         height: 100%;
         column-gap: 60px;
         row-gap: 30px;
     }
     .edge-item__title {
         font-size: 21px;
     }

     //EDGE END


     //CATALOG START
     .catalog-divide {
         grid-template-columns: repeat(2, 1fr);
     }
     .catalog-divide__decor, .catalog-divide__item_3 {
         display: none;
     }
     //CATALOG END

     //INSTALL START
     .install__title {
         font-size: 35px;
     }
     .install__wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-rows: 1fr;
        height: 100%;
     }
     .install-descr__bottom {
         display: flex;
         justify-content: center;
     }
     .install-descr__bottom ul {
         font-size: 14px;
         row-gap: 5px;
        column-gap: 10px;
     }
     .install-img {
         position: absolute;
         z-index: -1;
         top: 50%;
    transform: translateY(-50%);
    filter: saturate(2) contrast(1);
     }
     .install-descr__top{
        font-weight: 900;
        padding: 0 2rem;
         li {
            margin: 10px 0;

         }
     }
     .install-descr {
         justify-content: space-evenly;
     }
     //INSTALL END


     //QUESTIONS START

     .questions-bgline_right {
         height: 100rem;
         width: 100rem;
     }
     //QUESTIONS END



     

     /*CATALOG PAGE*/
    
}


@media  screen and (max-width: 991px) {
    //header
    .hamburger {
        width: 40px;
        span {
        display: block;
        background-color: #fff;
        width: 40px;
        height: 2px;
        margin-bottom: 8px;
        border-radius: 30px;
        }
        span:nth-child(3) {
            margin-bottom: 0;
        }
    }
    .header_bg{
        border-radius: 0;
        box-shadow: none;
        background: none;
    }
    header.header {
        background-color: #000000;
        max-height: 70px;
        font-family: 'Roboto', sans-serif;
        .container {
            display: none;
            &-mobile {
                position: fixed;
                max-height: 70px;
                height: 70px;
                justify-content: space-between;
                align-items: center;
                display: flex;
                &__wrapp {
                    width: 100vw;
                    display: flex;
                    justify-content: space-between;
                align-items: center;
                max-height: 70px;
                height: 70px;
                }
                &__call {
                    text-decoration: none;
                    display: flex;
                    padding: 10px 0;
                    margin-right: 20px;
                }
                .greenstandart {
                    min-width: 125px;
                    font-weight: 700;
                    font-size: 12px;
                    text-decoration: none;
                    color: white;
                    width: auto;
                }

                
                //HAMBURGER MENU
                .hamburger-menu {
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    position: fixed;
                    background-color: black;
                    transform: scale(0.0);
                    transition: 0.8s all ease;
                    color: white;
                    display: grid;
                    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
                    &_active {
                    transition: 0.3s all ease;
                        transform: scale(1);
                    }
                    .liOnFlex {
                        display: flex;
                    }
                    .list {
                        padding-left: 20px;
                        padding-right: 20px;
                        .liOnFlex {
                            display: flex;
                        }
                        ul {   
                            height: 85%;       
                            text-transform: capitalize;
                            list-style-type: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .liOn {
                                display: block;
                            }
                            li {

                                display: none;
                                width: 100%;
                                a {
                                width: 100%;
                                    display: flex;
                                    text-decoration: none;
                                    justify-content: space-between;
                                    color: white;
                                    font-size: 1.7rem;
                        transition: 0.4s all ease;
                        span {
                            display: block;
                            
                        }
                        .icon {
                            svg {
                                width: 50px;
                                height: 50px;
                            }
                        }
                                    &:active {
                        transition: 0.4s all ease;
                                        color: gray;
                                        text-decoration: underline;
                                        
                                    }
                            }
                            }
                        }
                    }
                    .liOn {
                        display: block;
                    }
                    &_close {
                        right: 50px;
                        top: 20px;
                        font-size: 70px;
                        position: absolute;
                    transition: 0.1s all linear;
                        color: white;
                        &:active, &:focus {
                            transform: scale(0.5);
                        }
                        display: none;
                    }
                    &__top {
                        margin: 20px auto 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: none;
                    }
                    
                    .menutag {
                        display: flex;
                        font-size: 2rem;
                        align-items: center;
                        display: none;
                        .triangle {
                            margin-left: 5px;
                                display: block;
                                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                                background-color: #25D366;
                                height: 25px;
                                width: 25px;
                                transform:  rotate(180deg);
                            
                        }
                    }
                    &__call {
                        span {
                            font-size: 1.2rem;
                            margin-bottom: 10px;
                        }
                        ul {list-style-type: none;}
                        li {
                            margin: 8px 0;
                            a {
                                color: white;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                img {
                                    margin-right: 5px;
                                    width: 35px;
                                    height: 35px;
                                }
                                
                            }
                        }
                    }
                    &__social {
                        padding-right: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                            span { font-size: 1.2rem;
                            margin-bottom: 10px;}
                        ul {
                            width: 85%;
                            display: flex;
                            list-style-type: none;
                            justify-content: space-evenly;
                            li {
                                a {
                                    img {
                                        width: 45px;
                                        height: 45px;
                                    }
                                }
                            }
                        }
                    }
                    .liOnGrid {
                        display: grid;
                    }
                    &__bottom {
                        
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding-left: 20px;
                        padding-bottom: 90px;
                        display: none;

                    }
                    .liOn {
                        display: block;
                    }
                    &__copyright {
                        display: none;

                        position: absolute;
                        bottom: 10px;
                        padding-left: 20px;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 110vw;
                            height: 2px;
                            background-color: #fff;
                            top: -12px;
                            left: 0;
                        }
                    }
                }
    
                
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            margin-right: 25px;
        }
        .header-left svg {
            display: block;
            text-decoration: none;
            width: 60px;
    height: 100%;
    margin-left: 25px;
        }
    }
    //header end

//promo start
.promo .owl-carousel {
    display: block !important;
}

.promo {
    position: relative;
    .container {
        display: none;
    }
    &-bg{
        display: none;
    }
    &__wrapper{
        display: none;
        &-mobile {
            display: flex !important;
            height: 100%;
        }
    }
    
    &__mobileSlide{
        background: url('../img/promoMobile_bg_1.png') center center/ cover no-repeat;
        width: 100vw;
        height: 110vh;
        padding-top: 110px;
        .container {
            display: block;
        }
        &_2 {
        background: url('../img/promoMobile_bg_2.png') center center/ cover no-repeat;
        }
        &_3 {
        background: url('../img/promoMobile_bg_3.png') center center/ cover no-repeat;
        }
        &_4 {
        background: url('../img/promoMobile_bg_3.png') center center/ cover no-repeat;

        }
    }
    .slide__title {
        background-color: #25D366;
        color: #fff;
        display: flex;
        width: 90%;
        text-transform: uppercase;
        font-size: 28px;
        margin: 0 auto;
        border-radius: 50px;
        padding: 45px 12px;
        align-items: center;
        justify-content: space-around;
        margin-top: 70px;
        .icon svg {
            width: 55px;
    height: 55px;
    margin-right: 9px;
    margin-left: 9px;
        }
     
    }
    &__mobileCall {
        padding-top: 11px;
        position: absolute;
        width: 100vw;
        height: 33vh;
        z-index: 50;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #000000 0%, rgba(203, 202, 202, 0) 100%);
        font-weight: 700;
        color: #fff;
        span {
            text-transform: uppercase;
        font-size: 28px;
        }
        .greenBtn {
            width: 190px;
            height: 40px;
            background-color: #25D366;
        }
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    
    }

   
}


 //PROMO END

   
    .about-descr__video iframe {
        border-radius: 0;
    }
    .about {
        background-color: #fff;
    }
    .about-descr__bottom{
        display: none;
    }
    .about__wrapper {
        justify-content: flex-start;
    }
    .about-descr {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }
    .about__title {
        display: none;
        &_mobile {
            font-family: "Roboto", sans-serif;
            text-align: center;
            display: flex;
            margin:0 auto;
            font-size: 35px;
    line-height: 30px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-top: 130px;

        }
    }
    .about-ilustrate {
        display: none;
    }
    .about-descr__text {
        padding: 0;
   display: flex;

    }
    .about-descr__video {
        width: 100%;
        height: 100%;
        iframe {
            width: 90%;
margin: 0 auto;
display: block;
        }

    }
    .about-descr__paragraph {
        display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding-left: 15px;

    }
    
    //ABOUT END

    //START ESCAPE

    .escape {
        display: flex !important;
        .container {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 70px;
        }
        &__title {
            font-family: 'Roboto', sans-serif;
            position: relative;
            display: flex;
            align-items: center;
            justify-content:  center;
            font-size: 35px;
            line-height: 30px;
            font-weight: 700;
            position: absolute;
            top: 85px;
            span {
                display: block;
                border-style: solid;
                border-width: 24.2px 14px 0 14px;
                border-color: #25D366 transparent transparent transparent;
                transform: translate(10px, 4px);
            }
        }
        &__img {
            width: 450px;
            object-fit: contain;
            margin: 0 auto;
            &-descr {
                font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    background-color: #25D366;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    border-radius: 15px;
                    width: 130px;
                    padding: 10px 0;
                span {
                  
                    display: flex;
                    height: 100%;
                    align-items:center;
                    justify-content: center;
                    color: #fff;
                    
                }

            }
        }
        &__imgWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
            margin-bottom: 10px;

        }
        &-bottom {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: center;
        }
        &-left, &-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: space-between;
        }
    }
    //END ESCAPE


    //START ADVANTAGES
    .advantages {
        &_bg {
            background: url('../img/advantages_bg_mobile.jpg') center center /cover no-repeat;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(15px);
            }
        }
        &__title {
            font-family: 'Roboto', sans-serif;
            font-size: 35px;
            line-height: 30px;
            font-weight: 700;
            width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
            top: 110px;
            left: 0;
        }
        &-wrapper {
            margin-top: 25px;
            font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
            color: #fff;
            padding-bottom: 0;
            &__item {
                grid-column-start: 1;
    grid-column-end: 8;
    background: url('../img/advantagesItemBg_mobile.svg') center center /cover no-repeat;
    display: flex;
    justify-content: center;
    padding-left: 0;
            }
            &__list {
                color: #000;
                list-style-image: url('../icons/listPointWhite.svg');
            }
            &__title {
                font-size: 18px;
                &_2 {
                        font-size: 14px;
                    max-width: 40%;
                    color: #000;
                    &:before {
                        top: -18%;
                        background-color: #fff;
                    }
                }
            }
        }
    }

    //END ADVANTAGES

    //START EDGE
    .edge {
        display: none;
        &-mobile {
            .container {
                height: 100%;
            }
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            display: flex !important;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
                width: 80%;
                padding: 1.5rem;
                &__title {
                    font-size: 18px;
                }
                &__text {
                    font-size: 14px;
                    text-align: center;
                }
            }
            
            &__wrapper {
                padding-top: calc(70px + 1.5rem);
                padding-bottom: 1.5rem;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 2rem;
                justify-items: center;
            }
        }
    }

    //END EDGE

    //START CATALOG
    .catalog .container .catalog__wrapper-mobile {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        height: 100%;
        align-items: center;
        justify-items: center;

      

        
    }
    .catalog{
        &__wrapper {
            display: none;
        }
        &-mobile {
            &__section {
                font-size: 13px;
                height: 95%;
                width: 100%;
                display: grid;
                grid-template-rows: 4fr 2fr;

                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
border-radius: 15px;
                align-items: center;
                img {
                    width: 90%;
                    display: block;
                    margin: 0 auto;
  
                }
                &_2 {
                    transform: translateY(-10px);
                }
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-height: 40px;
                padding: 0 35px;
                .model {
                    display: block;
                    position: relative;
                    padding-left: 15px;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        display: block;
                        background-color: #25D366;
                        border-radius: 50%;
                        position: absolute;
                        top: 15%;
                        left: -5px;
                    }
                }

                .look {
                    display: flex;
                    background-color: #25D366;
                    border-radius: 16px;
                    padding: 25px 35px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    .arrow svg {
                        width: 35px;
                        height: 15px;
                    }
                }
            }
        }
    }

    //END CATALOG

    // START INSTALL
    .install {
        &__title {
           display: none;
        }
        background-color: #fff;
        &-descr{
            grid-row-start: 2;
            grid-row-end: 3;
            height: 100%;
            justify-self: end;

            &__top {
                font-weight: 400;
            font-size: 12px;
            }
            &__bottom {
                display: none;
            }
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50% 50%;
            padding-top: 120px;
            position: relative;
        }
        &-img {
            position: absolute;
            transform: none;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: contain;
        }
    }

    .install .container {
       padding: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .install-descr__top li {
        margin: 0;
    }

    //END INSTALl

    //START QUESTIONS
        .questions{
            background-color: #fff;
            .container {
                grid-template-rows: 0fr 2fr 1fr;
            }
            &__go {
                background-color: #2D2D2D;
            }
            &__title {
                font-size: 24px;    
            }
            &-bgline {
                display: none;
            }
            &__place {
                &_bg {
                    display: none;
                }
            }
            &-form {
               grid-template-columns: 1fr;
               grid-template-rows: repeat(3, 4rem);
               row-gap: 1.8rem;
               input {
                   background-color: #BABABA;
                   box-shadow: -6px 2px 8px 6px rgba(0, 0, 0, 0.25);
                   &:active, &:focus {
                    box-shadow: -6px 2px 8px 6px rgba(0, 0, 0, 0.25);
                    border: 3px solid black;
                    background-color: #fff;
                }
               }
               button {
                   font-weight: 700;
               }
            }
            &__descr {
                width: 50%;
                margin: 0 auto;
            }
        }

        //END QUESTIONS

    //START FOOTER 
        .questions footer.footer .footer {
            
            &__wrapper{
                grid-template-columns: 1fr 1fr;
                height: 150%;
                background: #2D2D2D;
                color: #fff;
            }
            &-divide {
                align-items: center;
            }
        }

        .questions footer.footer {
            height: 120px;
        }

        .questions .footer-divide__link p {
            color: #fff;
        }
        .footer-bottom {
            display: none;
        }
        .footer-divide_4 {
            display: flex !important;
            .footer-bottom-4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 12px;
                text-align: center;
            }
        }
        
    //END FOOTER


    /*CATALOG PAGE*/

    //items
    .items {
        font-family: 'Roboto', sans-serif;
        background-color: #18191A;
        color: white;
        padding-top: 70px;
        &__title {
            font-size: 5vw;
            
            font-weight: 500;
        }
        .owl-stage {
            display: flex;
        }
        &__descr {
            font-size: 14px;
        }
        &-mobile {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            &__slider {
                position: relative;
                margin: 60px 0;
            }
            .owl-nav {
                position: absolute;
                top: 45%;
                width: 100%;
                .owl-prev, .owl-next {
                    background-color: #25D366;
                    color: white;
                    width: 45px;
                    height: 45px;
                    border-radius: 20px;
                    outline: 0;
                    outline-offset: 0;
                    border:none;
                    position: absolute;
                    font-size: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        line-height: normal;
                    }
                }
                .owl-prev {
                    left: 10px;
                }
                .owl-next {
                    right: 10px;
                }
            }
            
            &__title {
                .line {
                    margin-right: 5px;
                }
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
            &__product {
                display: block;
                position: relative;
                width: 97%;
                margin: 0 auto;
                &_top {
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;
                    border-top-right-radius: 15px;
                    border-top-left-radius: 15px;

                }
                &-bottom{
                    &-wrapper {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        justify-items: center;
                        row-gap: 15px;
                    }
                    &__about {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p {
                            color: black;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                            
                        }
                    }
                    &-line {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        p {
                            color: black;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                }
                &_bottom {
                    padding: 10px;
                    background-color: #0085FF;
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                &_name {
                    color: black;
                    top: 10px;
                    right: 10px;
                    font-weight: 500;
                    position: absolute;
                    font-size: 26px;
                }
                
            }
        }
    }


    //footer
    .catalogPage footer.footer {
        background-color: #18191A;
        color: white;
        .footer-divide__link p {
        color: white;

        }
    }
    
}


@media  screen and (max-width: 776px) {
    //header
    .hamburger {
        width: 40px;
        span {
        display: block;
        background-color: #fff;
        width: 40px;
        height: 2px;
        margin-bottom: 8px;
        border-radius: 30px;
        }
        span:nth-child(3) {
            margin-bottom: 0;
        }
    }
    .header_bg{
        border-radius: 0;
        box-shadow: none;
        background: none;
    }
    header.header {
        background-color: #000000;
        max-height: 70px;
        font-family: 'Roboto', sans-serif;
        .container {
            display: none;
            &-mobile {
                position: fixed;
                max-height: 70px;
                height: 70px;
                justify-content: space-between;
                align-items: center;
                display: flex;
                width: 100vw;
                &__call {
                    text-decoration: none;
                    display: flex;
                    padding: 10px 0;
                    margin-right: 20px;
                }
                .greenstandart {
                    min-width: 125px;
                    font-weight: 700;
                    font-size: 12px;
                    text-decoration: none;
                    color: white;
                    width: auto;
                }

                
                //HAMBURGER MENU
                .hamburger-menu {
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    position: fixed;
                    background-color: black;
                    transform: scale(0.0);
                    transition: 0.8s all ease;
                    color: white;
                    display: grid;
                    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
                    &_active {
                    transition: 0.3s all ease;
                        transform: scale(1);
                    }
                    .liOnFlex {
                        display: flex;
                    }
                    .list {
                        padding-left: 20px;
                        padding-right: 20px;
                        .liOnFlex {
                            display: flex;
                        }
                        ul {   
                            height: 85%;       
                            text-transform: capitalize;
                            list-style-type: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .liOn {
                                display: block;
                            }
                            li {

                                display: none;
                                width: 100%;
                                a {
                                width: 100%;
                                    display: flex;
                                    text-decoration: none;
                                    justify-content: space-between;
                                    color: white;
                                    font-size: 1.7rem;
                        transition: 0.4s all ease;
                        span {
                            display: block;
                            
                        }
                        .icon {
                            svg {
                                width: 50px;
                                height: 50px;
                            }
                        }
                                    &:active {
                        transition: 0.4s all ease;
                                        color: gray;
                                        text-decoration: underline;
                                        
                                    }
                            }
                            }
                        }
                    }
                    .liOn {
                        display: block;
                    }
                    &_close {
                        right: 50px;
                        top: 20px;
                        font-size: 70px;
                        position: absolute;
                    transition: 0.1s all linear;
                        color: white;
                        &:active, &:focus {
                            transform: scale(0.5);
                        }
                        display: none;
                    }
                    &__top {
                        margin: 20px auto 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: none;
                    }
                    
                    .menutag {
                        display: flex;
                        font-size: 2rem;
                        align-items: center;
                        display: none;
                        .triangle {
                            margin-left: 5px;
                                display: block;
                                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                                background-color: #25D366;
                                height: 25px;
                                width: 25px;
                                transform:  rotate(180deg);
                            
                        }
                    }
                    &__call {
                        span {
                            font-size: 1.2rem;
                            margin-bottom: 10px;
                        }
                        ul {list-style-type: none;}
                        li {
                            margin: 8px 0;
                            a {
                                color: white;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                img {
                                    margin-right: 5px;
                                    width: 35px;
                                    height: 35px;
                                }
                                
                            }
                        }
                    }
                    &__social {
                        padding-right: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                            span { font-size: 1.2rem;
                            margin-bottom: 10px;}
                        ul {
                            width: 85%;
                            display: flex;
                            list-style-type: none;
                            justify-content: space-evenly;
                            li {
                                a {
                                    img {
                                        width: 45px;
                                        height: 45px;
                                    }
                                }
                            }
                        }
                    }
                    .liOnGrid {
                        display: grid;
                    }
                    &__bottom {
                        
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding-left: 20px;
                        padding-bottom: 90px;
                        display: none;

                    }
                    .liOn {
                        display: block;
                    }
                    &__copyright {
                        display: none;

                        position: absolute;
                        bottom: 10px;
                        padding-left: 20px;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 110vw;
                            height: 2px;
                            background-color: #fff;
                            top: -12px;
                            left: 0;
                        }
                    }
                }
    
                
            }
        }
        .header-right {
            display: flex;
            align-items: center;
        }
        .header-left svg {
            display: block;
            text-decoration: none;
            width: 60px;
    height: 100%;
        }
    }
    //header end

//promo start
.promo .owl-carousel {
    display: block !important;
}

.promo {
    position: relative;
    .container {
        display: none;
    }
    &-bg{
        display: none;
    }
    &__wrapper{
        display: none;
        &-mobile {
            display: flex !important;
            height: 100%;
        }
    }
    
    &__mobileSlide{
        background: url('../img/promoMobile_bg_1.png') center center/ cover no-repeat;
        width: 100vw;
        height: 110vh;
        padding-top: 110px;
        .container {
            display: block;
        }
        &_2 {
        background: url('../img/promoMobile_bg_2.png') center center/ cover no-repeat;
        }
        &_3 {
        background: url('../img/promoMobile_bg_3.png') center center/ cover no-repeat;
        }
        &_4 {
        background: url('../img/promoMobile_bg_3.png') center center/ cover no-repeat;

        }
    }
    .slide__title {
        background-color: #25D366;
        color: #fff;
        display: flex;
        width: 90%;
        text-transform: uppercase;
        font-size: 28px;
        margin: 0 auto;
        border-radius: 50px;
        padding: 45px 12px;
        align-items: center;
        justify-content: space-around;
        margin-top: 70px;
        .icon svg {
            width: 55px;
    height: 55px;
    margin-right: 9px;
    margin-left: 9px;
        }
     
    }
    &__mobileCall {
        padding-top: 11px;
        position: absolute;
        width: 100vw;
        height: 33vh;
        z-index: 50;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #000000 0%, rgba(203, 202, 202, 0) 100%);
        font-weight: 700;
        color: #fff;
        span {
            text-transform: uppercase;
        font-size: 28px;
        }
        .greenBtn {
            width: 190px;
            height: 40px;
            background-color: #25D366;
        }
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    
    }

   
}


 //PROMO END

   
    .about-descr__video iframe {
        border-radius: 0;
    }
    .about {
        background-color: #fff;
    }
    .about-descr__bottom{
        display: none;
    }
    .about__title {
        display: none;
        &_mobile {
            font-family: "Roboto", sans-serif;
            text-align: center;
            display: flex;
            margin:0 auto;
            font-size: 35px;
    line-height: 30px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-top: 80px;
        }
    }
    
    
    //ABOUT END

    //START ESCAPE

   .escape {
       &__title {
           font-size: 35px;
       }
       &__img {
           width: 100%;
       }
   }
    //END ESCAPE


    //START ADVANTAGES
    .advantages {
        &_bg {
            background: url('../img/advantages_bg_mobile.jpg') center center /cover no-repeat;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(15px);
            }
        }
        &__title {
            font-family: 'Roboto', sans-serif;
            font-size: 35px;
            line-height: 30px;
            font-weight: 700;
            width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    position: absolute;
    top: 110px;
        }
        &-wrapper {
            margin-top: 25px;
            font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
            color: #fff;
            padding-bottom: 0;
            &__item {
                grid-column-start: 1;
    grid-column-end: 8;
    background: url('../img/advantagesItemBg_mobile.svg') center center /cover no-repeat;
    display: flex;
    justify-content: center;
    padding-left: 0;
            }
            &__list {
                color: #000;
                list-style-image: url('../icons/listPointWhite.svg');
            }
            &__title {
                font-size: 18px;
                &_2 {
                        font-size: 14px;
                    max-width: 40%;
                    color: #000;
                    &:before {
                        top: -18%;
                        background-color: #fff;
                    }
                }
            }
        }
    }

    //END ADVANTAGES

    //START EDGE
    .edge {
        display: none;
        &-mobile {
            .container {
                height: 100%;
            }
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            display: flex !important;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
                width: 80%;
                padding: 1.5rem;
                &__title {
                    font-size: 18px;
                }
                &__text {
                    font-size: 14px;
                    text-align: center;
                }
            }
            
            &__wrapper {
                padding-top: calc(70px + 1.5rem);
                padding-bottom: 1.5rem;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 2rem;
                justify-items: center;
            }
        }
    }

    //END EDGE

    //START CATALOG
    .catalog .container .catalog__wrapper-mobile {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        height: 100%;
        align-items: center;
        justify-items: center;

      

        
    }
    .catalog{
        &__wrapper {
            display: none;
        }
        &-mobile {
            &__section {
                font-size: 13px;
                height: 95%;
                width: 100%;
                display: grid;
                grid-template-rows: 4fr 2fr;

                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
border-radius: 15px;
                align-items: center;
                img {
                    width: 90%;
                    display: block;
                    margin: 0 auto;
  
                }
                &_2 {
                    transform: translateY(-10px);
                }
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-height: 40px;
                padding: 0 35px;
                .model {
                    display: block;
                    position: relative;
                    padding-left: 15px;
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        display: block;
                        background-color: #25D366;
                        border-radius: 50%;
                        position: absolute;
                        top: 15%;
                        left: -5px;
                    }
                }

                .look {
                    display: flex;
                    background-color: #25D366;
                    border-radius: 16px;
                    padding: 25px 35px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    .arrow svg {
                        width: 35px;
                        height: 15px;
                    }
                }
            }
        }
    }

    //END CATALOG

    // START INSTALL
    .install {
        &__title {
           display: none;
        }
        background-color: #fff;
        &-descr{
            grid-row-start: 2;
            grid-row-end: 3;
            height: 100%;
            justify-self: end;

            &__top {
                font-weight: 400;
            font-size: 12px;
            }
            &__bottom {
                display: none;
            }
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50% 50%;
            padding-top: 120px;
            position: relative;
        }
        &-img {
            position: absolute;
            transform: none;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: contain;
        }
    }

    .install .container {
       padding: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .install-descr__top li {
        margin: 0;
    }

    //END INSTALl

    //START QUESTIONS
        .questions{
            background-color: #fff;
            .container {
                grid-template-rows: 0fr 2fr 1fr;
            }
            &__go {
                background-color: #2D2D2D;
            }
            &__title {
                font-size: 24px;    
            }
            &-bgline {
                display: none;
            }
            &__place {
                &_bg {
                    display: none;
                }
            }
            &-form {
               grid-template-columns: 1fr;
               grid-template-rows: repeat(3, 4rem);
               row-gap: 1.8rem;
               input {
                   background-color: #BABABA;
                   box-shadow: -6px 2px 8px 6px rgba(0, 0, 0, 0.25);
                   &:active, &:focus {
                    box-shadow: -6px 2px 8px 6px rgba(0, 0, 0, 0.25);
                    border: 3px solid black;
                    background-color: #fff;
                }
               }
               button {
                   font-weight: 700;
               }
            }
            &__descr {
                width: 50%;
                margin: 0 auto;
            }
        }

        //END QUESTIONS

    //START FOOTER 
        .questions footer.footer .footer {
            
            &__wrapper{
                grid-template-columns: 1fr 1fr;
                height: 150%;
                background: #2D2D2D;
                color: #fff;
            }
            &-divide {
                align-items: center;
            }
        }

        .questions footer.footer {
            height: 120px;
        }

        .questions .footer-divide__link p {
            color: #fff;
        }
        .footer-bottom {
            display: none;
        }
        .footer-divide_4 {
            display: flex !important;
            .footer-bottom-4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 12px;
                text-align: center;
            }
        }
        
    //END FOOTER

}

@media  screen and (max-width: 575px) {
    // promo
    .promo {
        .slide__title {
            font-size: 18px;
            padding: 25px 12px;
        }
        &__mobileCall {
            height: 200px;
            text-align: center;
            span {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
        .owl-dots {
            bottom: 5% !important;
        }
    }

    //about
   .about {
    .about__title_mobile{
        padding-top: 80px;
        font-size: 18px;
        text-transform: uppercase;
    }
    .about-descr__paragraph {
        justify-content: start;
        font-size: 12px;
    }
   }


   //escape

   .escape {
    .escape__title{
        font-size: 18px;
    }
    .escape__img {
        width: 100%;
    }
    .escape__img-descr {
        width: 100px;
    }
   }

   //advantages
   .advantages {
    .advantages__title {
        font-size: 18px;
        top: 75px;
    }
    .advantages-wrapper__title {
        font-size: 16px;
        text-transform: uppercase;
        padding-right: 0;
        padding-left: 10px;
    }

    .advantages-wrapper__title_2 {
       
       
        text-transform: lowercase;
        max-width: 70%;
        font-size: 14px;
        &:before {
            top: -25%;
        }
        
    }
    .advantages-wrapper__item {
        background-position-x: 0;
        padding-left: 5px;
        &_1 {
            padding-left: 15px;
        }
    }
    .advantages-wrapper {
        row-gap: 15px;
    }
   }
   //edge 
   .edge-mobile{
       .edge-mobile-item {
           padding: 0.5rem;
       }
       .edge-mobile__wrapper {
           row-gap: 10px;
       }
       .edge-mobile__img svg {
           width: 48px;
           height: 48px;
       }
   }
   //catalog
   .catalog {
    .catalog-mobile__section {
        width: 90vw;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
        width: 80vw;
    }
    }

    .catalog-mobile__bottom {
        flex-direction: column;
        margin-bottom: 20px;
        .look {
            width: 80vw;
    padding: 15px 0;
    text-align: center;
    justify-content: center;
    transform: translateY(-10px);
        }
        .model {
            margin-bottom: 13px;
            &:before {
                top: 8%;
            }
        }
    }
 
   }
   
   //instal
   .install {
       .install__wrapper {
           padding-top: 20%;
       }
       .install-img {
           width: 90vw;
       }
       .install-descr__top {
           .off {
           display: none;
           }
       }
   }

   //questions 
   .questions {
       .questions__go {
           width: 100vw;
       }
       .questions-form {
           width: auto;
           row-gap: 10px;
           grid-template-rows: repeat(3, 50px);
           input,button {
               width: 80vw;
           }
       }
       .questions__descr {
           width: 75%;
           font-size: 12px;
           display: none;
       }
       .container {
           justify-content: center;
           grid-template-rows: 0fr 1fr 1fr;
       }
   }



   //footer
   .questions footer.footer {
    .footer-divide_4 {
        grid-row-start: 3;
        grid-column-start: 1;
    grid-column-end: 3;
    }
    .footer-divide {
        align-items: start;

    }
    .footer-divide_3 {
        .footer-divide__title_center {
            padding-left: 5px;
        }
    }
    .footer__wrapper {
        grid-template-rows: 30% 40% 15%;

    }
    .footer-bottom__creator {
        display: none;
    }
   }
   
   //hamburger-menu 
   .hamburger-menu {
       justify-content: center;
   }

   header.header .container-mobile .hamburger-menu .list ul li a .icon svg {
       width: 40px;
       height: 40px;
   }

   header.header .container-mobile .hamburger-menu__bottom {
    grid-template-columns: 1fr !important;

    }
    header.header .container-mobile .hamburger-menu .menutag {
        font-size: 18px;
    }

    header.header .container-mobile .hamburger-menu .menutag .triangle {
        width: 15px;
        height: 15px;
    }
   header.header .container-mobile .hamburger-menu_close {
       right: 20px;
       top: -20px;
   }
   .hamburger-menu {
       nav.list {
           width: 100vw;
           margin: 0 auto;
       }
       .hamburger-menu__bottom {
        width: 100vw;
        margin: 0 auto;
       }
    
  
   }
   .hamburger-menu__copyright {
       font-size: 14px;
   }

   header.header .container-mobile .hamburger-menu__call span {
       font-size: 18px;
   }

   header.header .container-mobile .hamburger-menu__call li a img {
       width: 25px;
       height: 25px;
   }

   header.header .container-mobile .hamburger-menu__social ul li a img {
       width: 33px;
       height: 33px;
   }

   header.header .container-mobile .hamburger-menu__social span {
       font-size: 18px;
   }

   .hamburger-menu__copyright {
       font-size: 12px;
   }
   
}