$colorHamburger: #fff;
$activeHamburger: #fff;

.toggle {
    transform: scale(1.5) translateX(-50%);
    display: block;
    cursor: pointer;
    input {
        display: none;
        & + div {
            width: 20px;
            height: 14px;
            position: relative;
            div {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                transition: transform .5s ease;
                span {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    &:first-child {
                        top: 0;
                        &:before,
                        &:after {
                            top: 0;
                        }
                    }
                    &:last-child {
                        bottom: 0;
                        &:before,
                        &:after {
                            bottom: 0;
                        }
                    }
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: 47%;
                        height: 2px;
                        border-radius: 1px;
                        background: $colorHamburger;
                        position: absolute;
                        -webkit-backface-visibility: hidden;
                        transition: transform .5s ease, border-radius .3s ease, background .4s ease;
                    }
                    &:before {
                        left: 0;
                        transform-origin: 0 50%;
                        transform: translate(1px, 0) scaleX(1.1);
                    }
                    &:after {
                        right: 0;
                        transform-origin: 100% 50%;
                        transform: translate(-1px, 0) scaleX(1.1);
                    }
                }
            }
            svg {
                display: block;
                fill: none;
                stroke: $colorHamburger;
                stroke-width: 2px;
                width: 44px;
                height: 44px;
                stroke-linecap: round;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -22px 0 0 -22px;
                stroke-dasharray: 0 82.801 8 82.801;
                stroke-dashoffset: 82.801;
                transform-origin: 50% 50%;
                -webkit-backface-visibility: hidden;
                transform: scale(1);
                transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, stroke .4s ease;
                &:nth-child(3) {
                    transform: rotate(180deg) scale(1);
                }
            }
        }
        &:checked + div {
            div {
                transform: rotate(90deg);
                span {
                    &:before,
                    &:after {
                        background: $activeHamburger;
                    }
                    &:first-child {
                        &:before {
                            transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
                        }
                        &:after {
                            transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
                        }
                    }
                    &:last-child {
                        &:before {
                            transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
                        }
                        &:after {
                            transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
                        }
                    }
                }
            }
            svg {
                stroke-dashoffset: 62;
                stroke-dasharray: 0 82.801 62 82.801;
                transform: rotate(90deg);
                stroke: $activeHamburger;
                &:nth-child(3) {
                    transform: rotate(270deg);
                }
            }
        }
    }
}
// HAMBURGER








@media  screen and (max-width: 1200px) {
    //PROMO START
    .promo__heading {
        font-size: 60px;
    }

    .promo__heading .bottom {
        font-size: 35px;
    }

    .promo-form__title {
        font-size: 35px;
    }

    .header-nav__listlink {
        font-size: 16px;
    }

    .greenstandart {
        font-size: 16px;
        width: 300px;
    }

     //PROMO END


     //ABOUT START 
     .about__title {
         font-size: 35px;
     }

     .about-descr__earth img {
         height: 105px;
     }
     .about-descr {
         column-gap: 30px;
     }
     .badge {
         width: 8rem;
         height: 8rem;
     }

     .badge .text {
         width: 4rem;
         height: 4rem;
         line-height: 4rem;
         margin-left: -3.5rem;
        font-size: 0;
     }
     //ABOUT END

     //ADVANTAGES START
     .advantages__title {
         font-size: 35px;
         top: 25%;
     }
     .advantages-wrapper__title {
         font-size: 14px;
     }
     //ADVANTAGES END

     //EDGE START 
     .edge__wrapper {
         align-content: center;
         height: 100%;
         column-gap: 60px;
         row-gap: 30px;
     }
     .edge-item__title {
         font-size: 21px;
     }

     //EDGE END


     //CATALOG START
     .catalog-divide {
         grid-template-columns: repeat(2, 1fr);
     }
     .catalog-divide__decor, .catalog-divide__item_3 {
         display: none;
     }
     //CATALOG END

     //INSTALL START
     .install__title {
         font-size: 35px;
     }
     .install__wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-rows: 1fr;
        height: 100%;
     }
     .install-descr__bottom ul {
         font-size: 14px;
         row-gap: 5px;
        column-gap: 5px;
     }
     .install-img {
         position: absolute;
         z-index: -1;
         top: 50%;
    transform: translateY(-50%);
    filter: saturate(2) contrast(1);
     }
     .install-descr__top{
        font-weight: 900;
        padding: 0 2rem;
         li {
            margin: 10px 0;

         }
     }
     .install-descr {
         justify-content: space-evenly;
     }
     //INSTALL END


     //QUESTIONS START

     .questions-bgline_right {
         height: 100rem;
         width: 100rem;
     }
     //QUESTIONS END



     //ITEMS START 
     .items-section__wrapper {
         grid-template-columns: repeat(3, 1fr);
     }
     .items__title {
         font-size: 35px;
     }
}

@media  screen and (max-width: 991px) {
    //PROMO START
    .promo-grid__imgFront {
        width: 44px;
        height: 44px;
    }
    .promo-form__collect  {
        column-gap: 1.5rem;
    }
    //PROMO END    

    //ABOUT START
    .about-descr {
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto;
    }
    .about-descr__text {
        grid-template-rows: auto;
        position: relative;
        padding: 2rem 0 1rem 0;
    }
    .about-descr__bottom {
        position: absolute;
        z-index: -1;
        left: 65%;
        .greenstandart {
            display: none;
        }
        img {
            width: 10rem;
            height: 10rem;
        }
        
    }
    //ABOUT END

    //ADVANTAGES START
    .advantages__title {
        left: 30%;
        top: 100px;
    }
    .advantages-wrapper__title_2:before {
        top: -60%;
    }
    .advantages-wrapper__title {
        font-weight: 600;
        text-align: center;
    }
    //ADVANTAGES END


    //EDGE START
    .edge-item__title {
        font-size: 16px;
        font-weight: 600;
    }

    .edge-item__img {
        svg {
            width: 3rem;
            height: 3rem;
        }
    }

    .edge__wrapper {
        column-gap: 1rem;
        row-gap: 1rem;
    }
    //EDGE END

    //QUESTIONS START
    .questions-bgline_right {
        right: -40%;
    }
    .questions__title {
        font-size: 32px;
    }
    .questions__descr {
        font-size: 12px;
    }
    .questions-form {
        column-gap: 1rem;
        padding: 0 2rem;
        grid-template-rows: 50px;
    }
    
    //QUESTIONS END

}
// DONE
@media  screen and (max-width: 776px) {
    .hamburger {
        width: 40px;
        span {
        display: block;
        background-color: #fff;
        width: 40px;
        height: 5px;
        margin-bottom: 8px;
        border-radius: 30px;
        }
        span:nth-child(3) {
            margin-bottom: 0;
        }
    }
    header.header {
        a.dribbble {
            display: none;
        }
        background-color: #000000;
        max-height: 70px;
        font-family: 'Roboto', sans-serif;
        .container {
            display: none;
            &-mobile {
                position: fixed;
                max-height: 70px;
                height: 70px;
                justify-content: space-between;
                align-items: center;
                display: flex;
                width: 100vw;
                &__call {
                    text-decoration: none;
                    display: flex;
                    padding: 10px 0;
                }
                .greenstandart {
                    min-width: 125px;
                    font-weight: 700;
                    font-size: 12px;
                    text-decoration: none;
                    color: white;
                    width: auto;
                }


                //HAMBURGER MENU
                .hamburger-menu {
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    position: fixed;
                    background-color: white;
                    transform: scale(0.0);
                    transition: 0.8s all ease;
                    &_active {
                    transition: 0.8s all ease;
                        transform: scale(1);
                    }
                    .list {
                        height: 100%;
                        ul {
                            height: 100%;
                            display: grid;
                            align-items: center;
                            justify-items: center;
                            text-transform: uppercase;
                        }
                    }
                }
                
            }
        }
    }
}

@media  screen and (max-width: 575px) {
    
}