@import 'libs/reboot';
@import 'libs/grid';
@import 'libs/fonts';
@import 'libs/fullpage';
@import 'libs/animate';
@import 'base/variables';
@import 'base/animations';
@import 'base/buttons';
@import 'base/fullPage';
body {
    margin: 0;
    padding: 0;
    font-family: 'RedHatText', sans-serif;
    font-weight: 400;
    overflow: hidden;
    // ::selection {
    //     background: rgba(0, 0, 0, 0); /* Цвет фона */
    //     color: #fff; /* Цвет текста */
    //    }
}
h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

@import 'blocks/promo-block';
@import 'blocks/header-block';
@import 'blocks/about-block';
@import 'blocks/advantages-block';
@import 'blocks/edge-block';
@import 'blocks/catalog-block';
@import 'blocks/install-block';