.header {
    position: fixed;
    min-width: 100vw;
    height: 90px;
    z-index: 5;
    transition: 100ms all linear;
    .container {
      height: 100%;
    }
    &__wrapper {
      height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-nav {
        width: 30%;
        &__list {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            align-items: center;
        }
        .line {
            position: absolute;
            background: $color;
        
            &.-right,
            &.-left {
              width: $thick;
              bottom: -$thick;
              top: -$thick;
              transform: scale3d(1,0,1);
            }  
        
            &.-top,
            &.-bottom {
              height: $thick;
              left: -$thick;
              right: -$thick;
              transform: scale3d(0,1,1);
            }
        
            &.-right {
              right: -$thick;
              transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
              transform-origin: top;
            }
        
            &.-top {
              top: -$thick;
              transition: transform 0.08s linear 0.43s;
              transform-origin: left;
            }
        
            &.-left {
              left: -$thick;
              transition: transform 0.08s linear 0.51s;
              transform-origin: bottom;
            }
        
            &.-bottom {
              bottom: -$thick;
              transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
              transform-origin: right;
            }  
          }
        &__listlink {
            text-decoration: none;
            color: #000;
            font-size: 18px;
            text-transform: capitalize;
            padding: $pad $extra;
            display: inline-block;
            border: $thick solid transparent;
            position: relative;
            cursor: pointer;
            .text {
                transform: translate3d(0,$pad,0);
                display: block;
                transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.35s;
            }
            &:after {
                position: absolute;
                content: '';
                bottom: -$thick;
                left: $extra;
                right: $extra;
                height: $thick;
                background: $color;
                // z-index: -1;
                transition: 
                  transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
                  right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
                  left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
                transform-origin: left;
              }
              &:hover {
                color: #0085ff;
              }
            &:hover, &:active, &_active {
                .text {
                    transform: translate3d(0,0,0);
                    transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
                  }
                  &:after {
                    transform: scale3d(0,1,1);
                    right: -$thick;
                    left: -$thick;
                    transform-origin: right;
                    transition: 
                      transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
                      right 0.2s cubic-bezier(1,0,.65,1.01),
                      left 0s 0.3s;
                  }

                  .line {
                    transform: scale3d(1,1,1);
              
                    &.-right {
                      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
                      transform-origin: bottom;
                    }
              
                    &.-top {
                      transition: transform 0.08s linear 0.4s;
                      transform-origin: right;
                    }
              
                    &.-left {
                      transition: transform 0.08s linear 0.48s;
                      transform-origin: top;
                    }
              
                    &.-bottom {
                      transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
                      transform-origin: left;
                    }
                  }
              }

              &_active {
                border: 3px solid #0085ff;
                background-color: rgba(65, 172, 88, .6);
                color: #fff;
                border-radius: 2px;
                &:hover {
                  color: #0085ff;
                }
              }
        }

    }
    &-contact {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__social {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            &-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                object-fit: cover;
                transition: 0.3s all ease-in-out;
                border-radius: 50%;
            }
            &_link {
              display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                transition: 0.61s all ease-in-out;
                &:hover {
                    transform: scale(1.2) translateY(-5px) rotateY(360deg);
                transition: 0.61s all ease-in-out;
                }
            }
        }
    }
    &_bg{
    transition: 100ms all linear;

      /* From https://css.glass */
background: rgba(255, 255, 255, 0.97);
border-radius: 0 0 22px 22px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
    }
}