.install {
    height: 100vh;
    background-color: #b5d1eb;
    .container {
        padding-top: 100px;
        height: 100%;
    }
    &__title {
        font-size: 40px;
        text-align: center;
        padding-bottom: 10px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    &-descr {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        &__top {
            font-size: 14px;
            list-style-image: url('../icons/listPoint.svg');
        }
        &__bottom {
            ul {
                font-size: 14px;
                display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 45px;
            column-gap: 30px;
            justify-items: center;
            list-style-type: none;
            
            li {
                display: flex;
                align-items: center;
                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                }
            }
            }
        }
    }
}